.padding {
	padding-top: 50px;
}

.padding-left{
	padding-left: 1400px
}

.container-header-original {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
