.solidLine {
    width: 900px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding-bottom: 30px;
}
.positionForLink {
    padding-top: 100px;
    padding-left: 750px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.positionForReport {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.positonForSolid {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.captionStyle {
  padding-top: 20px;
	color: #000000;
	font-weight: bold;
}

.tableForReports {
	width: 100%;
	border-collapse: collapse;
}

.tableForReports th {
	width: 25%;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	color: #000000;
	background-color: #e1e2ff;
	border: 1px solid #000000;
}

.tableForReports td {
	word-wrap: break-word;
	padding-bottom:20px;
	background-color: #fff;
	border: 1px solid #000000;
}

.equal_interval{
   display: flex;
   justify-content: space-between;
}
